<h1>Friends list</h1>
<div class="add-friend">
  <input type="text" [(ngModel)]="newFriend" placeholder="Friend name" />
  <button (click)="addFriend()">Add friend</button>
</div>
<div class="favorite">
  <p>My favorite people are:</p>
  <ul>
    <li *ngFor="let fav of favorites">{{fav}} <button (click)="removeFavorite(fav)">Remove</button> </li>
  </ul>
</div>
<div class="people">
  <ul>
    <li *ngFor="let person of people">{{person}} <button *ngIf="!favorites.includes(person)" (click)="addFavorite(person)">Add favourite</button></li>
  </ul>
  <!-- Add your people component here -->
</div>
